keywords=["艾尔登", "魂系", "“魂”系","老头环", "黑暗之魂","恶魔之魂","黑魂","只狼", "血源", "宫崎英高", "From Software", "空洞骑士", "丝之歌"]

[cron]
internal="@every 10m"

[feed.vgtime]
name="游戏时光"
src="https://www.vgtime.com/rss.jhtml"
[feed.yystv]
name="游研社"
src="https://www.yystv.cn/rss/feed"
[feed.chuapp]
name="触乐"
src="https://www.chuapp.com/feed"
[feed.gcores]
name="机核"
src="https://www.gcores.com/rss"
[feed.a9vg]
name="A9VG"
src="https://rsshub.app/a9vg/a9vg"
[feed.gamersky]
name="游民星空"
src="https://rsshub.app/gamersky/news"


[lark]
header="魂游资讯"
hook=""
token=""